Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@matheuscarv69 
matheuscarv69
/
a-simple-kafka-producer
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
a-simple-kafka-producer/.gitignore

matheuscarv69 🚀 first commit
Latest commit d1535f0 on Sep 25
 History
 0 contributors
34 lines (30 sloc)  405 Bytes

.DS_Store
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
